# ucvm ESP32 defaults

# CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Task watchdog: don't watch CPU1 IDLE — core 1 is dedicated to the emu task
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n

# WiFi
CONFIG_ESP_WIFI_SSID="ucvm"
CONFIG_ESP_WIFI_PASSWORD="ucvm1234"

# HTTP server
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=512

# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="ucvm"

# ucvm WiFi config
CONFIG_UCVM_WIFI_SSID="D-Link_DIR-615"
CONFIG_UCVM_WIFI_PASS="local1234"

# GDB stub
CONFIG_UCVM_GDB_ENABLE=y
CONFIG_UCVM_GDB_PORT=1234
